body {
    display: grid;
    place-items: center;
    background-color: black;
    color: whitesmoke;
    font-size: 12pt;
    padding: 5px;

    font-family: serif;
    background-image: url("images.jfif/.jpg");
    display: flex;
}

master {
    background-image: url(images.jfif/domokun-big.jpg);
    display: flex;
}

#logo { width: 15vw;
    border-radius: 50px;
    align-items: center
}

h1 {
    background-color: #efefef;
    color: royalblue;
    padding: 1vw;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    background-color: lightslategray;
    opacity: 0.9;
    text-decoration: underline;
    text-indent: 50;
    margin: 2vw;
}

.click{
    margin: 40vw
}
h3 {
    background-color: blue;
    color: darkred;
    opacity: 0.6;
    border: 4px dotted #0088dd;
}

p {
    background-color: #4A55C4;
    line-height: 1.5em;
    text-shadow: 1px 1px 5px;
    margin: 2vw;

}

h6 {
    text-shadow: 1px 1px 2px
}

p.one {
    background-color: lightblue
}

;

ul.two {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

li {
    display: inline;
    margin: 10px;
}

blockquote {
    float: left;
    width: 250;
    margin: 5px;
    font-style: italic;
    border-top: 5px solid #0088dd;
    border-bottom: 5px solid #0088dd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

h5 {
    text-align: center;

}

#wrapper {
    background-color: #228A90;
    position: sticky;
    top: 0;
    cursor: pointer;
    height: px

}

#good {padding: 4vw;
margin: 4vw;
    background-image: url(images.jfif/back.jpg);
    height: 150px
}

h4 {
    color: floralwhite
}

#work {
    background-color: #5FAE96
}

#one {
    align-self: center;
}

#karter {
    border: 2px solid;
    margin: 20px;
    padding: 5px;
}

.master {
    display: flex;
    width: 75vw;
}

.brdr { margin: 5vw;
padding: 10px;
    background-color: rosybrown
}
.birod { margin: 5vw;
padding: 0vw 10vw 0vw 10vw;
    background-color: floralwhite;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.faster { width: 100px;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.burger {
    position: absolute;
    right: 5%;
    top: 5px;
    cursor: pointer;

}

.line { width: 25px;
    background-color: white;
    height: 4px;
    margin-top:3x;
    margin-bottom: 3px;
}
@media only screen and (max-width: 300px){
#wrapper { 
    flex-direction:column;
}
}